# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.ProjectAR.iml
/contentModel.xml
/projectSettingsUpdater.xml
/modules.xml
# Datasource local storage ignored files
/../../../../../../:\Projects\ProjectAR\.idea\.idea.ProjectAR\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
